.EditsTableWrapper {
  hr {
    margin: 2em 0;
  }
}

.EditsTableWrapper-Edit {
  margin: 2em 0;

  &:last-of-type {
    margin-top: 4em;
  }

  &:first-of-type {
    margin-top: 0;
  }

  hr {
    margin-top: 2em;
  }
}

.EditsTable {
  margin: 3em 0;
  overflow-x: auto;
  caption,
  .caption {
    // this is set for <caption> in _utilities from USWDS
    // adding it here to make sure .caption is set too
    font-size: 1.5rem;
    text-align: left;

    h3 {
      margin: 0;
    }
    p {
      color: $color-gray-dark;
      font-weight: normal;
      margin-top: 0.5em;
      margin-bottom: 0;
    }
  }
  &:last-of-type {
    margin-bottom: 2em;
  }
  .caption {
    padding-bottom: 0;
  }
  table {
    margin-top: 0;
    margin-bottom: 0;
  }
}

// hightlight Q666 for PII
#Q666 {
  caption {
    background-color: $color-gold-lightest;
    padding: 1em;

    p {
      color: $color-base;
    }
  }
}
