.Signature {
  margin: 3em 0 5em;
}

.Signature header {
  max-width: 77rem;
  margin-bottom: 2em;
}
.Signature h2 {
  font-size: 3rem;
}
.Signature .font-lead {
  color: #323a45;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.Signature .alert {
  margin-top: 1em;
}

.Signature .alert p {
  margin: 0.25em 0;
}

.Signature .grid {
  align-items: stretch;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1% 99%;
  margin: 0 auto;
}

.Signature input {
  align-self: center;
}

.Signature label {
  max-width: 77rem;
}
