.usa-alert {
  width: 100%;
}

.usa-alert-error,
.usa-alert-warning,
.usa-alert-success,
.usa-alert-info {
  background-image: none;
}

.usa-alert-body {
  padding-left: 0;
  p:first-child {
    margin-top: 0;
  }
}
