

.usa-header {
  border-bottom: 1px solid $color-gray-lightest;
  margin-bottom: 2em;
}

.usa-navbar {
  height: auto;
}

.usa-nav {
  padding-top: .5rem;
}

.usa-nav.usa-nav-left {
  display: inline-block;
  float: none;
  padding-left: 4em;
}

.usa-logo {
  line-height: 0;
}

.usa-header-basic .usa-logo {
  bottom: 0;
  position: relative;
}

.usa-banner-inner,
.usa-nav-container {
  max-width: none;
}

.usa-banner-inner {
  padding-top: .25em;
  padding-bottom: .25em;
}

.usa-nav-container {
  padding-top: .5em;
  padding-bottom: .5em;
}

.usa-nav-secondary-links {
  li {
    &:not(:last-child)::after {
      @include media($nav-width) {
        content: none;
      }
    }
  }
}

.usa-nav-primary>li {
  font-size: 1.5rem;
  margin-left: 0;

  &.logout {
    margin-left: 3em;
    &>a.usa-nav-link{
      margin-left: 0;
    }
  }

  &>a {
    color: $color-base;
    margin: 1.3rem 1.5rem 1.7rem;
    padding: 0;
    text-transform: capitalize;

    &.usa-button {
      margin: 0;
      padding: 1rem 2rem;
      &:hover {
        color: $color-white;
        background-color: $color-primary-darker;
      }
    }
  }

  &:last-child>a {
    margin-right: 0;
  }

  &:first-child>a {
    margin-left: 0;
  }
}

.usa-nav-primary a {
  padding: 0;
  display: inline-block;
}
