@import "uswds/uswds-customer-vars.scss";
@import "node_modules/uswds/src/stylesheets/all.scss";
@import "uswds/header.scss";
@import "uswds/alert.scss";
@import "uswds/footer.scss";
@import "uswds/fixes.scss";

@import "hmda.scss";

@import "node_modules/react-select/dist/react-select";

@import "components/Home.scss";
@import "components/DivisionHeader.scss";
@import "components/RefileButton.scss";
@import "components/NavButton.scss";
@import "components/ConfirmationModal.scss";
@import "components/Institutions.scss";
@import "components/IRSReport.scss";
@import "components/RefileWarning.scss";
@import "components/RefileText.scss";
@import "components/Progress.scss";
@import "components/EditsTable.scss";
@import "components/EditsHeaderDescription.scss";
@import "components/UploadForm.scss";
@import "components/ValidationProgress.scss";
@import "components/BannerUser.scss";
@import "components/UserHeading.scss";
@import "components/EditsNav.scss";
@import "components/ParseErrors.scss";
@import "components/Summary.scss";
@import "components/Signature.scss";



// circles as indicators
.progress {
  background-color: $color-gray-light;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: .25em;
  width: 10px;

  &.progress-running {
    background-color: $color-gold-light;
  }

  &.progress-success {
    background-color: $color-green;
  }

  &.progress-error {
    background-color: $color-secondary;
  }
}

// some basic color classes
// can be broken out into another file

// text color
.text-gray {
  color: $color-gray;
}
.text-gray-light {
  color: $color-gray-light;
}
.text-secondary {
  color: $color-secondary;
}
.text-green {
  color: $color-green;
}
.text-primary {
  color: $color-primary;
}

.text-uppercase {
  text-transform: uppercase;
}

// bg-color
.bg-color-green {
  background-color: $color-green;
}
.bg-color-red {
  background-color: $color-secondary-dark;
}
.bg-color-gray-lightest {
  background-color: $color-gray-lightest;
}
.bg-color-hmda-gray {
  background-color: #f7f7f7;
}

// display
.inline {
  display: inline;
}

// borders
.border {
  border: 1px solid #f7f7f7;
}
.border-left {
  border-left: 1px solid $color-gray-lightest;
}
.border-top {
  border-top: 1px solid $color-gray-lightest;
}

// max-width reset
.max-width-100 {
  max-width: 100%;
}
