@import "uswds/uswds-customer-vars.scss";
@import "node_modules/uswds/src/stylesheets/all.scss";

// HDMA customizations to USWDS
@import "uswds/header.scss";
@import "uswds/hero.scss";
@import "uswds/alert.scss";
@import "uswds/footer.scss";
@import "uswds/accordion.scss";
@import "uswds/fixes.scss";

// HMDA specific
@import "hmda.scss";

// Components
@import "components/Home.scss";
@import "components/ErrorWarning.scss";
@import "components/Pagination.scss";
@import "components/LoadingIcon.scss";
@import "components/RefileButton.scss";
@import "components/NavButton.scss";
@import "components/ConfirmationModal.scss";
@import "components/BrowserBlocker.scss";
@import "components/Institutions.scss";
@import "components/Submission.scss";
@import "components/IRSReport.scss";
@import "components/RefileWarning.scss";
@import "components/RefileText.scss";
@import "components/SortPicker.scss";
@import "components/EditsTable.scss";
@import "components/EditsHeaderDescription.scss";
@import "components/UploadForm.scss";
@import "components/ValidationProgress.scss";
@import "components/UserHeading.scss";
@import "components/EditsNav.scss";
@import "components/ParseErrors.scss";
@import "components/Summary.scss";
@import "components/Signature.scss";
@import "components/Verifier.scss";
@import "components/BannerDeadline.scss";
