@import "uswds/uswds-customer-vars.scss";
@import "node_modules/uswds/src/stylesheets/all.scss";

// HDMA customizations to USWDS
@import "uswds/header.scss";
@import "uswds/alert.scss";
@import "uswds/footer.scss";
@import "uswds/fixes.scss";

// HMDA specific
@import "hmda.scss";

@import "node_modules/react-select/dist/react-select";

// Components
@import "components/Home.scss";
@import "components/Pagination.scss";
@import "components/LoadingIcon.scss";
@import "components/RefileButton.scss";
@import "components/NavButton.scss";
@import "components/ConfirmationModal.scss";
@import "components/Institutions.scss";
@import "components/IRSReport.scss";
@import "components/RefileWarning.scss";
@import "components/RefileText.scss";
@import "components/Progress.scss";
@import "components/SortPicker.scss";
@import "components/EditsTable.scss";
@import "components/EditsHeaderDescription.scss";
@import "components/UploadForm.scss";
@import "components/ValidationProgress.scss";
@import "components/UserHeading.scss";
@import "components/EditsNav.scss";
@import "components/ParseErrors.scss";
@import "components/Summary.scss";
@import "components/Signature.scss";
