@import "node_modules/uswds/src/stylesheets/all.scss";

@import "node_modules/react-select/dist/react-select";

@import "components/DivisionHeader.scss";
@import "components/Institutions.scss";
@import "components/IRSReport.scss";
@import "components/RefileWarning.scss";
@import "components/Progress.scss";
@import "components/EditsTable.scss";
@import "components/EditsHeaderDescription.scss";
@import "components/ValidationProgress.scss";
@import "components/BannerUser.scss";

// fix for disabled and checked checkbox
[type="checkbox"]:checked:disabled + label::before {
  background-image: url('#{$image-path}/correct8.png');
  background-image: url('#{$image-path}/correct8.svg');
  background-position: 50%;
  background-repeat: no-repeat;
}

.usa-display,
.usa-display-alt,
h1,
h2,
h3,
h4,
h5,
h6,
.usa-font-lead {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.usa-header {
  margin-bottom: 3em;
}

.usa-logo {
  line-height: 0;
}

.usa-nav-secondary-links {
  li {
    &:not(:last-child)::after {
      @include media($nav-width) {
        content: none;
      }
    }
  }
}

.usa-nav-primary>li:last-child>a {
  padding-right: 0;
}

a {
 cursor: pointer;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5em;
  margin-left: 0;
}

// some basic color classes
// can be broken out into another file

// text color
.text-gray {
  color: $color-gray;
}
.text-gray-light {
  color: $color-gray-light;
}
.text-secondary {
  color: $color-secondary;
}
.text-green {
  color: $color-green;
}
.text-primary {
  color: $color-primary;
}

.text-uppercase {
  text-transform: uppercase;
}

// bg-color
.bg-color-green {
  background-color: $color-green;
}
.bg-color-red {
  background-color: $color-secondary-dark;
}
.bg-color-gray-lightest {
  background-color: $color-gray-lightest;
}
.bg-color-hmda-gray {
  background-color: #f7f7f7;
}

// display
.inline {
  display: inline;
}

// margins
.margin-left-1 {
  margin-left: 1em;
}
.margin-bottom-0 {
  margin-bottom: 0;
}
.margin-bottom-2 {
  margin-bottom: 2em;
}
.margin-bottom-5 {
  margin-bottom: 5em;
}
.margin-top-0 {
  margin-top: 0;
}
.margin-top-half {
  margin-top: .5em;
}
.margin-top-1 {
  margin-top: 1em;
}

// padding
.padding-1 {
  padding: 1em;
}
.padding-2 {
  padding: 2em;
}
.padding-3 {
  padding: 3em;
}
.padding-left-1 {
  padding-left: 1em;
}
.padding-right-1 {
  padding-right: 1em;
}
.padding-left-2 {
  padding-left: 2em;
}

// borders
.border {
  border: 1px solid #f7f7f7;
}
.border-left {
  border-left: 1px solid $color-gray-lightest;
}

// max-width reset
.max-width-100 {
  max-width: 100%;
}

//sticky footer
html {
  position: relative;
  min-height:100%;
}

body {
  margin: 0 0 120px;
}

.usa-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 2em;
}
