{
  "env": {
    "build": {
      "presets": [
        "@babel/react",
        ["@babel/env", {
          "modules": false,
          "useBuiltIns": "entry"
        }]
      ],
      "plugins": [
        ["@babel/plugin-proposal-object-rest-spread", {"useBuiltIns": true}]
      ] 
    },
    "test": {
    "presets": [
      "@babel/react",
      ["@babel/env", {
        "modules": "commonjs",
        "useBuiltIns": "entry"
      }]
      ],
      "plugins": [
        ["@babel/plugin-proposal-object-rest-spread", {"useBuiltIns": true}]
      ]
    }
  }
}
