{
  "presets": [
    "@babel/react",
    ["@babel/env", {
      "modules": false,
      "useBuiltIns": "entry",
      "targets": {
        "browsers": [
          'Chrome >= 60',
          'Safari >= 10.1',
          'Firefox >= 54',
          'Edge >= 15',
          'ie >= 11'
        ]
      }
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-object-rest-spread", {"useBuiltIns": true}]
  ],
  "env": {
    "test": {
    "presets": [
      "@babel/react",
      ["@babel/env", {
        "modules": "commonjs",
        "useBuiltIns": "entry",
        "targets": {
          "browsers": [
            'Chrome >= 60',
            'Safari >= 10.1',
            'Firefox >= 54',
            'Edge >= 15',
            'ie >= 11'
          ]
        }
      }]
      ],
      "plugins": [
        ["@babel/plugin-proposal-object-rest-spread", {"useBuiltIns": true}]
      ]
    }
  }
}
