{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "node": 1,
    "es6": 1,
    "browser": 1
  },
  "rules": {
    "no-console": 0,
    "react/no-find-dom-node": 0,
    "no-return-assign": 0,
    "curly": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "space-infix-ops": 0,
    "quotes": [
      1,
      "single",
      {"avoidEscape": true}
    ],
    "no-new": 0,
    "consistent-return": 0,
    "new-cap": 0,
    "no-use-before-define": 0,
    "semi": 0,
    "yoda": 0,
    "camelcase": 0,
    "no-trailing-spaces": 1,
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": 1,
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "beforeEach": true,
    "it": true,
    "expect": true,
    "jest": true,
    "describe": true
  }
}
