.UploadForm {
  margin: 2em 0;
  .usa-alert {
    margin-bottom: 1em;
    margin-top: 0;
    ul.usa-alert-text {
      margin-top: 0;
      padding-left: 1em;
    }
  }
  .usa-form {
    max-width: 100%;
  }
  .container-upload {
    border: 1px solid $color-gray-lighter;
    padding: 1em;
  }
  .usa-button.usa-button-gray {
    border: 1px solid $color-gray;
    border-radius: 0.3rem 0 0 0.3rem;
    margin-right: -1px;
    &.usa-button-disabled {
      background-color: $color-gray-lighter;
      border-color: $color-gray-lighter;
      color: $color-gray-dark;
    }
  }
  input[type='text'] {
    border-color: $color-gray;
    max-width: 100%;
    &:disabled {
      border-color: $color-gray-light;
      color: $color-gray;
    }
    &.input-error {
      border-color: $color-secondary;
      color: $color-secondary;
    }
  }

  [type='submit'] {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-top: 0;
    width: 100%;
    max-width: 100%;
  }

  .dropzone {
    border: 1px dashed $color-gray-light;
    height: 200px;
    position: relative;
    width: 100%;
    &.dropzone-disabled {
      border-color: $color-secondary-light;
      color: $color-secondary;
    }

    button {
      display: block;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: normal;
      margin: 0;
      margin-right: -50%;
      padding: 0;
      font-weight: 400;
      background-color: rgba(0, 0, 0, 0);
      background-image: url('/img/upload.png');
      background-repeat: no-repeat;
      background-size: 70px;
      background-position-x: 50%;
      background-position-y: 20%;
      color: $color-base;

      p:first-of-type {
        margin-top: 6em;
      }

      p {
        margin: 0;
      }

      .file-selected {
        color: $color-gray;
      }
    }
  }
}
