.Progress {
  margin-bottom: .5em;

  span {
    display: none;

    @media only screen and (min-width: 600px) {
      display: block;
    }
  }

  .EditsNav {
    background-color: transparent;

    ul.usa-nav-primary {
      border-bottom: none;

      li.error {
        color: $color-primary;
        font-weight: 700;
        
        .step {
          background-color: $color-primary;
          background-image: none;
          border-color: $color-primary;
          color: $color-white;
        }
      } 
    }
  }
}
