.usa-alert {
  a {
    color: $color-primary-darker;
  }
  a.usa-button {
    color: $color-white;
  }
  .alert-check {
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5em;
    margin-top: -1em;
    margin-bottom: -0.3em;
    height: 30px;
    width: 30px;
    border: 2px solid $color-base;
    background-color: $color-base;
    background-image: url('/img/check.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 13px auto;
  }
}
