.EditsNav {
  background: $color-white;
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;

  &.EditsNav-fixed {
    position: fixed;
  }

  ul.usa-nav-primary {
    border-bottom: 1px solid $color-gray-lighter;
    display: block;
    li {
      color: $color-gray;
      line-height: normal;
      padding: 0;
      text-transform: uppercase;
      width: 20%;

      a {
        color: $color-primary;
        font-weight: 700;
      }

      a:hover {
        background-color: transparent;

        .step {
          background-color: $color-primary;
          border-color: $color-primary;
          color: $color-white;
        }
      }

      .step {
        background-color: $color-white;
        border: 2px solid $color-gray;
        border-radius: 50%;
        color: $color-gray;
        font-weight: 700;
        height: 30px;
        margin: 0 auto;
        padding: 4px 3px;
        width: 30px;
      }
      &.active {
        .step {
          background-color: $color-primary;
          border-color: $color-primary;
          color: $color-white;
        }
      }
      &.complete {
        .step {
          background-image: url("../img/correct8.png");
          background-image: url("../img/correct8.svg");
          background-position: -2px -1px;
          background-color: #212121;
          background-repeat: no-repeat;
          background-size: 30px;
          border: 2px solid #212121;
          border-radius: 50%;
        }
        a {
          color: $color-base;
          &:hover {
            color: $color-primary;
          }
        }
      }
      &.warning {
        a {
          color: #c05700;
          &:hover {
            color: $color-primary;
          }
        }
        .step {
          background-color: #dc731c;
          background-image: none;
          border-color: #dc731c;
          color: #fff;
          font-size: 30px;
          line-height: 25px;
          padding: 0;
        }
      }
      &.error {
        a {
          color: $color-secondary;
          &:hover {
            color: $color-primary;
          }
        }
        .step {
          background-color: $color-secondary;
          background-image: url("../img/close-white.png");
          background-image: url("../img/close-white.svg");
          background-size: 18px;
          background-position: 4px 4px;
          background-repeat: no-repeat;
          border-color: $color-secondary;
        }
      }
      &.current {
        a {
          border-bottom: 2px solid;
        }
      }
    }
  }

  hr.nav-bg {
    border-top: 1px solid $color-gray-lighter;
    left: 0;
    margin: 1em auto;
    position: absolute;
    right: 0;
    top: 9px;
    width: 80%;
    z-index: -1;
  }
}
