.EditsHeaderDescription {
  h2 {
    margin-top: 0;
  }
  p.usa-font-lead {
    color: $color-gray-dark;
    margin-top: 0.5em;
    margin-bottom: 0;
  }
  .LoadingIconWrapper {
    display: inline-block;
    width: 48px;
    margin-left: 5px;
    margin-top: -10px;
  }
}
