.Header {
  nav {
    margin: 0;
    padding: 0;
    @media screen and (max-width: 483px) {
      float: left;
      margin: 6px 0 0 6px;
    }
  }
  .usa-logo {
    a {
      color: #1F498F;
      font-weight: bold;
    }
    a:hover {
      color: #1F498F;
    }
    .usa-logo-text {
      font-size: 2.15rem;
      font-weight: normal;

      img {
        margin-right: 0.5em;
        vertical-align: text-bottom;
      }
    }
  }
}
