.Institutions {
  max-width: 800px;

  .institution {
    margin-top: 2em;

    .current-status {
      background-color: $color-gray-lightest;
      padding: 1em;
    }

    h3 {
      margin-top: 0;
    }

    .previous-submissions {
      h4 {
        margin-top: 0;
      }

      ol {
        margin-bottom: 0;
        padding-left: 1.5em;
      }
    }

    .usa-accordion-button {
      background-color: $color-gray-lighter;
    }

    .status {
      margin-top: 0.5em;
      margin-bottom: 0.5em;

      p {
        margin: 0;
      }
    }

    aside {
      padding-right: 1em;
      padding-left: 1em;
    }
  }

  header {
    margin: 0;

    h1 {
      margin-top: 0;
      margin-bottom: 0.25em;
    }
    p {
      margin-top: 0;
      margin-bottom: 0.25em;
    }
  }
}
