.Institutions {
  max-width: 800px;

  .institution {
    margin-top: 2em;

    .current-status {
      background-color: $color-gray-lightest;
      padding: 1em;
    }

    h3 {
      margin-top: 0;
    }

    .previous-submissions {
      h4 {
        margin-top: 0;
      }

      ol {
        margin-bottom: 0;
        padding-left: 1.5em;
      }
    }

    .usa-accordion-button {
      background-color: $color-gray-lighter;
    }

    .status {
      margin-top: 0.5em;
      margin-bottom: 0.5em;

      h4 {
        margin: 0;
      }

      p {
        margin: 0;
      }
    }
  }

  header {
    margin: 0;

    h2 {
      margin-top: 0;
      margin-bottom: 0.25em;
    }
    p.usa-font-lead {
      margin-top: 0;
      margin-bottom: 0.25em;
    }
  }

  p.multi-message {
    margin-top: 2.5em
  }
}
