.IRSReport {
  h2 {
    margin-top: 0;
  }
  .usa-font-lead {
    color: $color-gray-dark;
    margin-top: .5em;
    margin-bottom: 0;
  }

  .irs-table-wrapper {
    max-width: $site-max-width;
    @media screen and (max-width: ($site-max-width - 1)) {
      overflow-x: auto;
    }
  }
  thead th,
  tfoot td,
  tbody td {
    font-size: .75em;
    border-width: 1px;
  }
  .totals td{
    background-color: $color-gray-lightest;
  }
  td.center {
    text-align: center;
  }
}
