.modal {
  transition: top 0.2s;
  box-shadow: 0 1px 2px 0 #212121, 0 8px 8px -6px #212121;
  background: $color-white;
  left: 50%;
  width: 40%;
  position: fixed;
  top: 40%;
  transform: translate(-50%, -50%);
  z-index: 9003;

  h2 {
    font-size: 2.4rem;
    margin: 0.75em 0 0 1.25em;
  }

  .modal-contents {
    padding: 0 2em 1.5em;

    p {
      margin: 0;
    }

    a {
      color: $color-gray;
      &:hover {
        color: $color-gray-warm-dark;
      }

      @media screen and (max-width: 931px) {
        display: block;
        margin-top: 1em;
      }
    }
    button {
      margin-top: 1.5em;
      margin-right: 2em;
    }
  }
}

.modal-blurred-blocker {
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9002;
  transition: visibility 0.2s, opacity 0.2s;
}

div.showing-blurred-blocker {
  visibility: visible;
  opacity: 1;
  .modal {
    top: 50%;
  }
}
