.PaginationControls {
  display: table;
  position: relative;
  margin: 1em auto 2em;

  h4, button {
    display: inline-block;
    margin: 0;
  }

  div {
    display: inline-block;
    margin: 0 2em;
  }

  form {
    width: 3em;
    display: inline-block;
    margin: 0 0.25em;
  }

  button:last-of-type {
    margin-right: 2em; /* centering compensatation for narrower width */
  }
  .LoadingIconWrapper {
    position: absolute;
    bottom:0;
    left:50%;
    width: 40px;
    margin-bottom: -30px;
    margin-left: -17px;
  }
}

.PaginationTarget {
  opacity: 1;
  transition: opacity 0.3s;

  td {
    opacity: 1;
    transition: opacity 0.3s;
  }
  &.fadeOut {
    opacity: 0.5;
    /*Box shadow prevents thinning of table bottom border on transition*/
    box-shadow: 0 1px 1px -2px;

    td {
      opacity: 0;
    }
  }
}
