.ParseErrors {
  table td:first-of-type,
  table th:first-of-type {
    text-align: right;
    width: 1px;
  }
  hr {
    margin: 2em 0 !important;
  }

  h2 {
    margin-top: 0;
  }

  p.usa-font-lead {
    color: $color-gray-dark;
    margin-top: .5em;
  }

  caption {
    padding-bottom: 1em;
    text-align: left;
    h3 {
      margin: 0;
    }
    p {
      color: $color-gray-dark;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
