.confirmation-modal {
  transition: top 0.2s;
  box-shadow: 0 1px 2px 0 #212121, 0 8px 8px -5px #212121;
  background: $color-white;
  left: 50%;
  position: fixed;
  top: 40%;
  transform: translate(-50%,-50%);
  z-index: 9003;

  .confirmation-contents {
    padding: 2em;

    p {
      margin-top: 0;
      &:not(.usa-font-lead) {
        margin-bottom: 0;
      }
    }
    a {
      color: $color-gray;
      &:hover {
        color: $color-gray-warm-dark;
      }

      @media screen and (max-width: 931px) {
        display: block;
        margin-top: 1em;
      }
    }
    button {
      margin-right: 2em;
    }
  }
}

.confirmation-blurred-blocker {
  background: rgba(0,0,0,0.6);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9002;
  transition: visibility 0.2s, opacity 0.2s;
}

div.showing-blurred-blocker {
  visibility: visible;
  opacity: 1;
  .confirmation-modal {
    top: 50%;
  }
}
