.confirmation-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 9003;
  background: $color-white;

  .confirmation-title {
    line-height: 3em;
    font-weight: bold;
    background: $color-gray-lightest;
    box-shadow:0px 1px 1px -1px $color-gray-light;
    padding: 0 2em;
  }

  .confirmation-contents {
    margin: 0 2em 1.5em;
  }
}

.confirmation-blurred-blocker {
  background: rgba(255,255,255,0);
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9002;
}

div.showing-blurred-blocker {
  background: rgba(0,0,0,0.6);
  display:block;
}
