.confirmation-modal {
  background: $color-white;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 9003;

  h4 {
    background: $color-gray-lightest;
    border-bottom: 1px solid $color-gray-light;
    margin: 0;
    padding: 1em 2em;
  }

  .confirmation-contents {
    padding: .5em 2em 1.5em;

    a {
      color: $color-gray;
      &:hover {
        color: $color-gray-warm-dark;
      }
    }
  }
}

.confirmation-blurred-blocker {
  background: rgba(255,255,255,0);
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9002;
}

div.showing-blurred-blocker {
  background: rgba(0,0,0,0.6);
  display:block;
}
