.EditsTableWrapper-Edit {
  margin: 2em 0;

  &:last-of-type {
    margin-top: 6em;
  }

  &:first-of-type {
    margin-top: 0;
  }

  hr {
    margin-top: 2em;
  }
}
.EditsTable {
  margin: 3em 0;
  caption,
  .caption {
    text-align: left;
    h3 {
      margin: 0;
    }
    p {
      color: $color-gray-dark;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .caption {
    padding-bottom: 0;
  }
  caption {
    padding-bottom: 1em;
  }
  table {
    margin-top: 0;
    margin-bottom: 0;
  }
}
