.EditsNav {
  background: $color-white;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 1000;

  &.EditsNav-fixed {
    position: fixed;
  }

  .nav-wrapper {
    padding: .5em 0;
    position: relative;
    text-align: center;
  }

  ul.usa-nav-primary {
    li {
      a {
        color: $color-base;
        &:hover {
          color: $color-primary;
        }
        margin: 1.3rem 1.5rem 1rem;
      }
      span {
        color: $color-gray-light;
        display: inline-block;
        font-weight: 700;
        margin: 1.3rem 1.5rem 1rem;
        text-transform: uppercase;
      }
      &.current {
        a {
          border-bottom: 2px solid;
        }
      }
    }
  }

  hr.line,
  hr.progress {
    border-top: 1px solid $color-gray-lighter;
    left: 0;
    position: absolute;
    right: 0;
    bottom: -1.1em;
  }

  hr.progress {
    border-top-color: $color-green;
  }

}
