.EditsNav {
  position: relative;
  text-align: center;
  ul {
    li {
      width: 20%;
      text-align: center;
      margin-bottom: 2em;
    }
    &.usa-nav-primary>li>a {
      margin: 0;
      padding-bottom: 10px;
    }
    &.usa-nav-primary>li>span {
      color: $color-gray-light;
      display: inline-block;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .step {
    background-color: $color-white;
    border: 1px solid $color-gray-light;
    border-radius: 50%;
    color: $color-gray-light;
    height: 2em;
    margin: 0 auto .5em;
    padding: 3px;
    text-align: center;
    width: 2em;
    &.active {
      border-color: $color-base;
      color: $color-base;
    }
    &.complete {
      border-color: $color-green;
      color: $color-green;
    }
  }

  hr.navBorder {
    border-top-width: 2px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 13px;
    z-index: -1;
  }

  hr.line,
  hr.progress {
    border-top: 2px solid $color-gray-lighter;
    left: 0;
    position: absolute;
    right: 0;
    top: -5px;
    z-index: -1;
  }

  hr.progress {
    border-top-color: $color-green;
  }

}
