.EditsNav {
  border-bottom: 1px solid $color-gray-lighter;
  background: $color-primary-darkest;
  padding-bottom: 1em;
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;

  &.EditsNav-fixed {
    position: fixed;
  }

  .nav-wrapper {
    padding-top: 1em;
  }

  ul.usa-nav-primary {
    li {
      margin: 0 1em;
      a,
      span {
        margin: 0 1.5rem;
      }
      a {
        color: $color-white;
        &:hover {
          color: $color-gray-cool-light;
        }
      }
      &:last-child {
        a,
        span {
          margin-right: 0;
        }
      }
      span {
        color: $color-cool-blue-lighter;
        display: inline-block;
        font-weight: 700;
        text-transform: uppercase;
      }
      &.current {
        a {
          border-bottom: 2px solid;
        }
      }
    }
  }

  hr.line,
  hr.progress {
    border-top: 1px solid $color-gray-lighter;
    left: 0;
    position: absolute;
    right: 0;
    top: -1em;
    z-index: -1;
  }

  hr.progress {
    border-top-color: $color-green;
  }

}
