.EditsNav {
  padding: 1em 3rem;
  position: relative;
  ul.usa-nav-primary {
    li {

      a {
        margin: 0 1.5rem 1rem;
      }
      &:first-child {
        a {
          margin-left: 0;
        }
      }
      span {
        color: $color-gray-light;
        display: inline-block;
        font-weight: 700;
        margin: 0 1.5rem 1rem;
        text-transform: uppercase;
      }
      &.current {
        a {
          border-bottom: 2px solid $color-base;
        }
      }
    }
  }

  hr.line,
  hr.progress {
    border-top: 1px solid $color-gray-lighter;
    left: 0;
    position: absolute;
    right: 0;
    top: -1em;
    z-index: -1;
  }

  hr.progress {
    border-top-color: $color-green;
  }

}
