.Home {
  .usa-grid {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .usa-grid:first-of-type {
    border-bottom: $color-gray-lightest;
  }

  .usa-alert {
    margin-bottom: 2em;
  }

  h2 {
    display: inline-block;
  }

  .login-button {
    float:right;
  }

  hr {
    margin-bottom: 2em;
  }

}
