.Institutions {
  .institution {
    margin-bottom: 3em;
    h2,
    .usa-text-small,
    .status {
      margin-bottom: 0;
      margin-top: 0;
    }
    .status {
      margin-top: .5em;
      margin-bottom: .5em;
    }
  }

  .content {
    padding-right: 1em;
    padding-left: 1em;
  }
}
