.IRSReport {
  h2 {
    margin-top: 2em;
  }
  .usa-font-lead {
    margin-top: .5em;
    margin-bottom: 0;
  }

  .irs-table-wrapper {
    max-width: $site-max-width;
    @media screen and (max-width: ($site-max-width - 1)) {
      overflow-x: auto;
    }
  }
  thead th,
  tbody td {
    font-size: .75em;
    padding: 1em;
  }
  table tr.totals td {
    border-top-width: 3px;
  }
  td.center {
    text-align: center;
  }
}
