.PaginationControls {
  display: table;
  margin: 1em auto 0;

  h4, button {
    display: inline-block;
    margin: 0;
  }

  div {
    display: inline-block;
    margin: 0 2em;
  }
  button:last-of-type {
    margin-right: 2em; /* centering compensatation for narrower width */
  }
  .LoadingIconWrapper {
    position: absolute;
    bottom:0;
    left:50%;
    margin-left: -22px;
  }
}

.PaginationTargetWrapper {
  position: relative;
}


.PaginationTarget {
  opacity: 1;

  &.slideRight {
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
    transform: translateX(100%);
  }

  &.slideLeft {
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
    transform: translateX(-100%);
  }
}

.PaginationPrev {
  position: absolute;
  top: 4.8em;
  transform: translateX(-100%);
  opacity: 0;

  &.slideRight {
    transition: transform 0.3s, opacity 0.3s;
    opacity: 1;
    transform: translateX(0);
  }
}

.PaginationNext {
  position: absolute;
  top: 4.8em;
  transform: translateX(100%);
  opacity: 0;

  &.slideLeft {
    transition: transform 0.3s, opacity 0.3s;
    opacity: 1;
    transform: translateX(0);
  }
}
