.PaginationControls {
  display: table;
  margin: 1em auto 0;

  h4, button {
    display: inline-block;
    margin: 0;
  }

  div {
    display: inline-block;
    margin: 0 2em;
  }
  button:last-of-type {
    margin-right: 2em; /* centering compensatation for narrower width */
  }
  .LoadingIconWrapper {
    position: absolute;
    bottom:0;
    left:50%;
    margin-left: -22px;
  }
}

.PaginationTarget {
  opacity: 1;
  transition: opacity 0.3s;

  &.fadeOut {
    opacity: 0;
  }
}
