.RefileWarning {
  margin-top: 2em;
  margin-bottom: 2em;

  .usa-alert-body {
    display: block;
    position: relative;
  }

  .usa-alert-text {
    font-size: 1em;
    max-width: 70rem;
  }

  .RefileButton {
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 0.75em;
    transform: translate(0, -50%);
  }
}
