@keyframes animateWarningHeader{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.RefileWarning {
  animation: 0.3s ease-out 0s 1 animateWarningHeader;
  margin: 1px 0 0 0;
  text-align: left;
  
  .usa-alert-body {
    display: block;
    margin: 0 auto;
    padding: 0 3rem;
    position: relative;
    max-width: 1040px;
  }

  .usa-alert-text {
    font-size: 1em;
    p {
      margin: 0;
    }

    a {
      font-weight: bold;
    }
  }

  .RefileButton {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }

  &.usa-alert-error {
    .usa-alert-text {
      max-width: 70rem;
    }
  }
}
