.RefileWarning {
  margin-bottom: 2em;

  .usa-alert-body {
    display: block;
    position: relative;

    div {
      margin-right: 140px;
    }
  }

  .RefileButton {
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 0;
    transform: translate(0, -50%);
  }
}
