.UploadForm {
  margin: 2em 0;
  .usa-alert {
    margin-bottom: 1em;
    margin-top: 0;
    ul.usa-alert-text {
      margin-top: 0;
      padding-left: 1em;
    }
  }
  .usa-form {
    max-width: 100%;
  }
  .container-upload {
    border: 1px solid $color-gray-lighter;
    border-bottom: none;
    padding: 1em;
  }
  .usa-button.usa-button-gray {
    border: 1px solid $color-gray;
    border-radius: .3rem 0 0 .3rem;
    margin-right: -1px;
    &.usa-button-disabled {
      background-color: $color-gray-lighter;
      border-color: $color-gray-lighter;
      color: $color-gray-dark;
    }
  }
  input[type="text"] {
    border-color: $color-gray;
    max-width: 100%;
    &:disabled {
      border-color: $color-gray-light;
      color: $color-gray;
    }
    &.input-error {
      border-color: $color-secondary;
      color: $color-secondary;
    }
  }

  [type="submit"] {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-top: 0;
    width: 100%;
    max-width: 100%;
  }

  .dropzone {
    border: 1px dashed $color-gray-light;
    height: 200px;
    position: relative;
    text-align: center;
    width: 100%;
    &.dropzone-disabled {
      border-color: $color-secondary-light;
      color: $color-secondary;
    }

    div {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }

    button {
      background: none;
      color: $color-base;
      font-weight: 400;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;

      span {
        display: block;
        margin-bottom: .5em;
      }
    }
  }
}
