.ValidationProgress {
  padding-top: 1em;
  .usa-button {
    margin-top: .5em;
  }

  .progressTotal {
    background-color: $color-gray-lightest;
    width: 100%;
    height: 0.2em;
  }

  .progressFill {
    background-color: $color-primary;
    height: 1em;
    margin-top: -0.6em;
    transition: width 0.3s;
  }
}
