.ValidationProgress {
  border-top: 1px solid $color-gray-lightest;
  margin-top: 1em;
  padding-top: 1em;
  .usa-button {
    margin-top: .5em;
  }
  .usa-unstyled-list>li {
    margin-bottom: .5em;
  }
}
