label {
  display: inline;
}
.EditsHeaderDescription {
  border-top: 1px solid @gray-40;
  padding-top: 50px;
}

.EditsHeaderDescription:first-child {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}

.EditsGrouped{
  padding-bottom:20px;
}

.cf-icon-approved{
  color: green;
  margin-right:6px;
}

.edits {
  .table-header {
    color: #101820;
    background: #f7f8f9;
    border-bottom: 1px solid @gray-40;
    font-family: 'AvenirNextLTW01-Demi', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 1.07142857em;
    padding: 0.625em;
    font-size: 0.875em;
    letter-spacing: 1px;
    line-height: 1.25;
    text-transform: uppercase;
    margin-right: 0;
    border-left-width: 0;
    border-right-width: 0;
    &.half {
      margin-bottom: 0;
    }
  }
  .half {
    border-left-width: 0;
    border-right-width: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0.625em;
  }
  table {
    border: 1px solid @gray-40;
    margin: 0 0 20px;
  }
  .edits-detail {
    padding: 0 20px;
  }
  .summary {
    border-top: 1px solid @gray-40;
  }
}

.expandable_link {
  font-family: 'AvenirNextLTW01-Medium', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0.83333333em;
  font-size: 1.125em;
  line-height: 1.25;
  margin-bottom: 0;
}
