button.RefileButton {
  -moz-osx-font-smoothing: unset;
  -webkit-font-smoothing: unset;
  background-color: transparent;
  color: #0071bc;
  font-family: SourceSansPro;
  font-weight: normal;
  margin: 0 0 0 2em;
  padding: 0;
  text-decoration: underline;
}

button.RefileButton:hover {
  color: #205493;
}
