@font-face {
  font-family: SourceSansPro;
  src: url(./fonts/sourcesanspro-regular-webfont.woff);
}
@font-face {
  font-family: SourceSansProBold;
  src: url(./fonts/sourcesanspro-bold-webfont.woff);
}
@font-face {
  font-family: SourceSansProItalic;
  src: url(./fonts/sourcesanspro-italic-webfont.woff);
}
.floatingIcon.LoadingIconWrapper {
  position: absolute;
  left: 50%;
  margin-top: 2em;
  margin-left: -1.5em;
}
html {
  font-family: SourceSansPro;
  font-size: 10px;
  min-height: 100%;
  position: relative;
}
body {
  margin: 0 0 350px;
  padding: 0;
  font-family: SourceSansPro;
  font-size: 1.6rem;
}
.skipnav {
  background: transparent;
  color: #212121;
  left: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  top: -4.2rem;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}

a {
  color: #0071bc;
  text-decoration: underline;
}
a:visited {
  color: #4c2c92;
}
a:hover,
a:active {
  color: #205493;
}

p {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: SourceSansProBold;
}

hr {
  border-bottom: none;
  border-top: 1px solid #aeb0b5;
}

.font-lead {
  font-size: 2rem;
}

.text-small {
  font-size: 1.3rem;
}

.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

button,
.button,
button:visited,
.button:visited,
input[type='submit'],
input[type='submit']:visited {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #0071bc;
  border: 0;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: SourceSansProBold;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  margin: 3rem 0 0;
  padding: 1rem 2rem;
}
@media screen and (min-width: 481px) {
  button,
  .button,
  button:visited,
  .button:visited,
  input[type='submit'],
  input[type='submit']:visited {
    width: auto;
  }
}
button:hover,
.button:hover,
button:visited:hover,
.button:visited:hover,
input[type='submit']:hover,
input[type='submit']:visited:hover {
  background-color: #205493;
  color: #ffffff;
}

button:active,
.button:active,
button:visited:active,
.button:visited:active,
input[type='submit']:active,
input[type='submit']:visited:active {
  background-color: #112e51;
  color: #ffffff;
}

button:disabled,
.button:disabled,
button:visited:disabled,
.button:visited:disabled,
input[type='submit']:disabled,
input[type='submit']:visited:disabled {
  background-color: #d6d7d9;
  color: #ffffff;
  pointer-events: none;
}
button:disabled:hover,
.button:disabled:hover,
button:disabled:active,
.button:disabled:active,
button:disabled:focus,
.button:disabled:focus,
button:visited:disabled:hover,
.button:visited:disabled:hover,
button:visited:disabled:focus,
.button:visited:disabled:focus,
button:visited:disabled:active,
.button:visited:disabled:active,
input[type='submit']:disabled:hover,
input[type='submit']:disabled:active,
input[type='submit']:disabled:focus,
input[type='submit']:visited:disabled:hover,
input[type='submit']:visited:disabled:focus,
input[type='submit']:visited:disabled:active {
  background-color: #d6d7d9;
  color: #ffffff;
}
