#main-content.BrowserBlocker {
  margin: 0;
}
.BrowserBlocker {
  margin: 0;
  padding: 0;

  .usa-alert {
    background-color: $color-secondary;
    color: $color-white;
    margin-top: 0;
    &:before {
      display: none;
    }
  }

  .usa-alert-body {
    background-color: $color-secondary;
    display: block;
    padding: 6em 8em;

    a {
      color: $color-white;
    }
  }

  ul {
    padding-left: 0;
    margin-top: 0.5em;
  }

  li {
    display: inline;
    margin: 0 0.5em;
  }

  li:first-of-type {
    margin-left: 0;
  }

  .AlertImage {
    display: none;
  }
}
