.LoadingIconWrapper {
  width: 3em;
  margin: 0 auto;
  transform: rotateX(180deg);
}

.LoadingIcon {
  width: 3em;
  animation: loading-spin 2s infinite linear;
}

@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-359deg);
  }
}
