.Header nav {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 483px) {
  .Header nav {
    float: left;
    margin: 6px 0 0 6px;
  }
}

.Header nav .user {
  margin-left: 2em;
}

.Header .usa-logo a {
  color: #1f498f;
  font-weight: bold;
}
.Header .usa-logo a:hover {
  color: #1f498f;
}
.Header .usa-logo .usa-logo-text {
  font-size: 2.5rem;
  font-weight: normal;
}

.Header .usa-logo img .usa-logo-text {
  margin-right: 0.5em;
  vertical-align: text-bottom;
}
